/* Fonts for the app */
.h3 {
    font-family: Arial, Helvetica, sans-serif;
}
/* Reset button */
.st-emotion-cache-atejua.e121c1cl0 {
    font-family: cursive;
}

/* Process button */
.st-emotion-cache-1vsah7k.e121c1cl0 {
    font-family: cursive;
}

/* Browse file button */
.st-emotion-cache-jh76sn.e1obcldf2 {
    font-family: cursive;
}

.st-emotion-cache-1espb9k.e121c1cl0 {
    font-family: cursive;
}


/* Top banner element */
.stAppHeader.st-emotion-cache-h4xjwg.e10jh26i0 {
    background-color: black;
 }

/* Main body with chat */
.stMain.st-emotion-cache-bm2z3a.ekr3hml1 {
    background-color: #5C7285;
    background-image: url(https://i.ibb.co/p6W9Prby/dark-books1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

/* Bottom banner element */
.st-emotion-cache-hzygls.ekr3hml3 {
    background-color: black;
}

/* Large sidebar container */
.st-emotion-cache-6qob1r.e1dbuyne8 {
    background-color: #3E3232;
    /* background-image: url(https://i.ibb.co/WvQkdGSD/flower-wallpaper.jpg); */
    /* background-attachment: scroll; */
}

/* Small sidebar container */
.st-emotion-cache-xwtqgq.es2srfl0 {
    background-color: #40534C;
    background-image: url(https://i.ibb.co/JWQBYX5H/book-drop.jpg);
}

/* Sidebar hide/show button */
.e14lo1l1.st-emotion-cache-qsoh6x.ex0cdmw0 {
    background-color: crimson; 
}

/* Message text */
.message {
    background-color: #3E3232;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    border-radius: 5px;
}

/* Text placeholder */
.st-ae.st-af.st-ag.st-cz.st-ai.st-aj.st-ak.st-al.st-am.st-an.st-ao.st-ap.st-aq.st-ar.st-as.st-at.st-au.st-av.st-aw.st-ax.st-ay.st-az.st-b0.st-b1.st-b2.st-b3.st-b4.st-b5 {
    background-color: black;
    color: whitesmoke;
    border-radius: 7.5px;
    font-family: Arial, Helvetica, sans-serif;
}
